<%-include("header")%>
<%-include("navbar")%>
<%-include("commSidebar")%>
<div class="col"  height=100%>
             <div class="col-sm-10" style="top:55px;position:relative;height:40px;left:42px;background:skyblue">
                 <a href="" style="left:150px;position:relative;border:solid white 1px;border-radius:0px" class="btn"><i  class="fas fa-users"></i></a>
                 <a href="/list" id='srchbtn' style="left:150px;position:relative;border:solid white 1px;border-radius:0px" class="btn"><i  class="fas fa-search"></i></a>
                 <%# <input type="text" id="searchComm" style="display:none;position:relative;top:5px;float:right;width:342px" placeholder="Search Community"> %>
             </div>
             <div class="container" style="top:100px;position:relative">
                    <div class="panel panel-default">
                            <div class="panel-heading" style="color:white;background:skyblue;height:50px">My Community
         <a href="/cc" style="left:750px;top:5px;position:relative;border:solid white 1px;border-radius:0px" class="btn">Create Community</a>
                            </div>
                            <br>
                            <hr>
                            <div id="appendable" class="panel-body">
                            </div>
                          </div>
            </div> 
       </div>
       <script>
       $(document).ready(()=>{
         $.post("/getComm",{},(data,status)=>{
                  for(i=0;i<data.length;i++){
                 $("#appendable").append("<div class='card w-100'><div class='card-body'><img onclick=window.location.href='/discussion/"+data[i]._id+"' class='shadow' src='community.jpg' height='50px' width='50px'><h5 style='position:absolute;top:30px;left:100px' class='card-title'>"+data[i].name+"</h5></div></div><h5 onclick=window.location.href='/communitymembers/"+data[i]._id+"' style='position:relative;top:-62px;left:180px'>Members: "+data[i].members.length+"</h5><br>");
                  }
       })
       });
       $("#srchbtn").click(()=>{
         window.location="/list"
       });
       </script>
       <%-include("footer")%>