<nav class="navbar navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#"><dt>cq</dt></a>
  <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> %>
<div class="none-mobile-view-dp">
        <span class="badge badge-danger"><%=role%></span>
        <span class="badge badge-warning"><%=username%></span>
       <img src="../<%=link%>" height="30px" width="30px">
 </div>     
</nav> 